driver/__pycache__/
build/
CMakeFiles/
CMakeCache.txt
gtests/googletest-build/
gtests/googletest-download/
gtests/googletest-src/
bin/
tests/test_data/
tests/test_data/*
tests/test_data/legal_positions_by_depth.dat
tests/test_data/legal_positions_by_depth_saved.dat
cmake_install.cmake
CTestTestfile.cmake
libShumiChess.a
Makefile
lib/
gtests/GTests.exe
.vscode/settings.json
gtests/GTests
install_manifest.txt
googletest/
Testing/
driver/build/
.vscode/
perf.data
perf.data.old
out/src/class_diagram/class_diagram.png
tests/generate_test_data/generate_legal_positions_by_depth.py
