helpme.txt
*.bak
driver/games_log/
run_minimax_time.dir/
*vcxproj*
ShumiChess.lib
ShumiChess.dir/
run_minimax_depth.dir/
measure_speed_random_games.dir/
x64/
*.sln
*.pyd
*.o
*.def
driver/__pycache__/
build/
CMakeFiles/
.env
CMakeCache.txt
gtests/googletest-build/
gtests/googletest-download/
gtests/googletest-src/
bin/
tests/test_data_older_format/
tests/test_data_older_format/*
tests/test_data/
tests/test_data/*
tests/test_data/legal_positions_by_depth.dat
tests/test_data/legal_positions_by_depth_saved.dat
cmake_install.cmake
CTestTestfile.cmake
libShumiChess.a
Makefile
__pycache__/
tests/unit_tests.dir/
lib/
gtests/GTests.exe
driver/build_temp/
driver/build/
.vscode/settings.json
driver/engine_communicator.cpython-39-x86_64-linux-gnu.so
gtests/GTests
install_manifest.txt
googletest/
Testing/
driver/build/
.vscode/
perf.data
perf.data.old
out/src/class_diagram/class_diagram.png
tests/generate_test_data/generate_legal_positions_by_depth.py
*.so
*.exe
old/
gmon.out
gperf_analysis.txt
gprof_analysis.txt
callgrind.out.*
temp
Statistics.txt
debug.dat